* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* generics */

body {
    font-family: sans-serif;
    background-color: #252525;
}

/* utilities */

.container {
    width: 1080px;
    padding: 0 1rem;
    margin: 0 auto;
    color: #fff;
}

.text-center {
    text-align: center;
}

.py-2 {
    padding: 2rem 0;
}

.fs-1 {
    font-size: 1.8rem;
}